<!-- Tabs Go Here -->
<section>

	<div class="btn-group btn-group-sm" role="group" aria-label="Entry Options">
		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-comment"></i></button>
		<button type="button" class="btn btn-default" ng-class="{'btn-success': starred}" ng-click="starred=!starred"><i ng-class="{true:'glyphicon glyphicon-star', false:'glyphicon glyphicon-star-empty'}[starred]"></i></button>
		<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-flag"></i></button>
		<a ng-href="#/entries/{{entry.entryID}}" role="button" class="btn btn-default"><i class="glyphicon glyphicon-link"></i></a>
	</div>
	
</section>